@use '../utility' as u;

.header{


    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: u.rem(24);
        height: u.rem(72);

        @include u.breakpoint-up(medium){
            padding: u.rem(40);
            height: u.rem(108);
        }

        @include u.breakpoint-up(large){
            padding: u.rem(60);
            height: u.rem(198);
        }
    }

    &__logo{
        height: u.rem(18);
        width: u.rem(100);
        background-image: url(/images/logo.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        
        @include u.breakpoint-up(medium){
            height: u.rem(28);
            width: u.rem(180);
        }

        @include u.breakpoint-up(large){
            height: u.rem(40);
            width: u.rem(240);
            margin-left: u.rem(20);
        }
    }

    &__cta{
        width: u.rem(80);
        height: u.rem(24);
        background-color: var(--white);
        border-radius: u.rem(12);
        border: u.rem(1) solid var(--Pink);
        color: var(--Pink);
        text-align: center;
        text-justify:auto;
        text-decoration: none;
        font-weight: 100;
        font-size: u.rem(10);

        &:hover {
            border: u.rem(1) solid var(--LightPink);
            color: var(--LightPink); 
            cursor: pointer;
        }
        
        @include u.breakpoint-up(medium){
            height: u.rem(28);
            width: u.rem(110);
            border-radius: u.rem(16);
            font-size: u.rem(14);
        }

        @include u.breakpoint-up(large){
            height: u.rem(40);
            width: u.rem(140);
            border-radius: u.rem(20);
            font-size: u.rem(16);
        }
    }
}