@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

:root {
    --Pink: hsl(322, 100%, 66%);
    --LightPink: hsl(321, 100%, 78%);
    --LightRed: hsl(0, 100%, 63%);

    --VeryDarkCyan: hsl(192, 100%, 9%);
    --VeryPaleBlue: hsl(207, 100%, 98%);

    --white: hsl(255,100%, 100%);

    
}

body {
    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

footer{
    background-color: var(--VeryPaleBlue);
}